if experience
    article(class='experience')
        each val, index in experience
            = '\n'
            div(class='#{index}-techonologies col cf')
                div(class='cell')
                    h2(class='page') #{val.label}

                    = '\n'

                    ul(class='logos-list')
                        each logo, name in val.content
                            - var ext = 'svg';
                            if logo.png
                                - ext = 'png';

                            li(class='#{name}')
                                a(title='#{logo.text}', href='#{logo.url}', class='logo logo-#{name}', target='_blank')